@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  background-color: #eee;
  margin: 0;
}

header {
  background-color: #ddd;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

header h1 {
  text-align: center;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  padding: 10px;
}

.warning {
  padding: 10px 20px;
}

.warning.success {
  border: 2px solid #198754;
  background-color: #198754;
  color: #fff;
}

.warning.error {
  border: 2px solid #dc3545;
  background-color: #dc3545;
  color: #fff;
}

.warning.info {
  border: 2px solid #0dcaf0;
  background-color: #0dcaf0;
  color: #000;
}

.post {
  width: 300px;
  display: inline-block;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin: 20px;
  border-radius: 5px;
  overflow: hidden;
  min-height: 160px;
}

.post img {
  max-width: 100%;
}

form {
  margin: 20px;
}

label {
  display: inline-block;
  margin: 5px 0;
}

input,
textarea {
  display: block;
  padding: 10px 15px;
  border: 2px solid #ccc;
  font-size: 16px;
  outline: 0;
  resize: none;
  margin-top: 10px;
  width: 400px;
}

textarea {
  height: 200px;
}

input[type="submit"]:hover {
  background-color: #efefef;
  cursor: pointer;
}

.tags {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.tag a {
  text-decoration: none;
  padding: 10px;
  display: inherit;
}
.tag:hover a,
.tag.selected a {
  color: #fff;
}

.tag:hover,
.tag.selected {
  border-color: #5076e6 !important;
  background-color: #5076e6;
}
