:root {
  --cinzaescuro: #343a40 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 15px;
}
body {
  font-family: "Montserrat", "Raleway", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

.toggleBGNavigation {
  background-color: #343a40 !important;
  padding: 10px 0 !important;
}

footer {
  width: 100%;
  min-height: 15vh;
  box-sizing: border-box;
  border: none;
  padding: 10px 20px;
  background-color: #363737;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
