:root {
  --cinzaescuro: #343a40 !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Raleway";
  font-size: 15px;
}
body {
  font-family: "Montserrat", "Raleway", "Helvetica", "Arial", sans-serif;
  background-color: #f5f5f5;
}

.container {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  padding: 10px;
}

.toggleBGNavigation {
  background-color: #343a40 !important;
  padding: 10px 0 !important;
}

header {
  transition: all 0.2s linear;
  font-weight: 700;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  padding: 20px 0;
}

header .container .nav {
  display: flex;
  color: #fff;
}

header .container .nav .navTitle {
  width: 200px;
  align-items: center;
  display: flex;
  font-size: 24px;
}

header .container .nav .navNav {
  flex: 1;
}

header .container .nav .navNav nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

header .container .nav .navNav nav ul {
  display: flex;
  margin: 0;
}

header .container .nav .navNav nav ul li {
  display: inline-block;
  cursor: pointer;
}

header .container .nav .navNav nav ul li a {
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inherit;
}

footer {
  width: 100%;
  min-height: 15vh;
  box-sizing: border-box;
  border: none;
  padding: 10px 20px;
  background-color: #363737;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
